profiles {
    biowulf {
        executor {
            name = 'slurm'
            queueSize = 200
            pollInterval = '2 min'
            queueStatInterval = '5 min'
            submitRateLimit = '6/1min'
            retry.maxAttempts = 1
                 }
    
    process {
        resourceLimits = [ cpus: 192, memory: 751.GB, time: 240.h ]
        clusterOptions = ' --gres=lscratch:200'
        scratch = '/lscratch/$SLURM_JOB_ID'
        maxForks = 50

        withName: 'minimapMapping' {
            queue = 'quick'
            cpus = 12
            memory = '16 GB'
            time = '2h'
            }
        withName: 'indexAssemblies' {
            queue = 'quick'
            cpus = 4
            memory = '60 GB'
            time = '2h'
            }
        withName: 'extractMappedRegion' {
            queue = 'quick'
            cpus = 4
            memory = '8 GB'
            time = '1h'
            }
        withName: 'runDigger' {
            queue = 'quick'
            cpus = 12
            memory = '16 GB'
            time = '4h'
            }
        withName: 'Immunotyper' {
            queue = 'norm'
            cpus = 12
            memory = '60 GB'
            time = '6h'
            }
        }
    }
}